.contact-list-blue {
    background-color: rgb(117, 117, 237);
    /* tambahkan properti lainnya sesuai kebutuhan */
  }
.contact-list-item {
    border: 2px solid black;
    border-radius: 5px;
    /* tambahkan properti lainnya sesuai kebutuhan */
  }
  .contact-list-item2 {
    border: 1px solid black;
    border-radius: 1px;
    background-color: #ffffff;
    /* tambahkan properti lainnya sesuai kebutuhan */
  }
  .border-bio{
    border: 1px solid black;
    border-radius: 5px;
  }
  .border-bio2{
    border: 2px solid black;
    border-radius: 5px;
  }
  .border-bio3{
    border: 1.5px solid rgb(187, 187, 240);
    border-radius: 20px;
  }
  .bluebg{
    background-color: rgb(192, 192, 246);
  }
.ui-menu{
  border: 1px solid black;
  border-radius: 5px;
}